.navbar-brand{
  padding-left: 20px;
}

.nav-itemright{
  padding-right: 20px;
}

.nav-item{
  padding-left: 10px;
  padding-right: 10px;
}

.main-image{
  padding-top: 8%;
  padding-left: 30%;
  padding-bottom: 4%;

}

h2{
  padding-bottom: 20px;
  font-family: 'Sacramento', cursive;
}

#question{
  background-color: #84DFFF;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
}

#options{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

#contact{
  background-color: #84DFFF;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;

}

.cta{
    font-family: 'Sacramento', cursive;
    padding-bottom: 1%;
}

h4{
  padding-bottom: 1%;
}

.taxpageimg{
  padding-right: 5%;
}

.productsitem{
  padding-top: 5%;
  padding-left: 5%;
}

.productshead{
  font-family: 'Sacramento', cursive;
}

li{
  padding-top: 3%;
}
